html, body {
    font-family: Inter;
    background-color: #ffffff;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}


/* MENU GERAL */
.menu-principal {
    width: 100%;
    padding: 0;
}

.container-fluid{
	padding: 0px;
}

/* LINKS DO MENU */
.menu-principal .nav-link {
    font-weight: 600;
    text-transform: uppercase;
    padding: 15px 20px;
    text-align: center;
}

/* REMOVE FUNDO PADRÃO DO BOOTSTRAP */
.menu-principal .nav-link,
.menu-principal .dropdown-menu {
    background-color: transparent;
}

/* MENU AZUL */
.menu-azul .nav-link {
    background-color: #00264c;
}

.menu-azul .nav-link:hover {
    background-color: #7e93a9;
}

/* MENU AZUL MÉDIO */
.menu-azul-meio .nav-link {
    background-color: #3a74b0;
	width: 100%;
}

.menu-azul-meio .nav-link:hover {
    background-color: #7e93a9;
}

.menu-azul-claro .nav-link {
    background-color: #b4d0e7;
	width: 100%;
}

.menu-azul-claro .nav-link:hover {
    background-color: #7e93a9;
}

/* ================================================= */
/* ================= SUBMENU FIXADO ================= */
/* ================================================= */

.dropdown-menu{
    width: 100%;
    border: none;
    padding: 0;
    margin: 0;
    border-radius: 40px;
    overflow: hidden;
}

/* cada item do submenu */
.dropdown-menu li{
    background: #3a74b0;
    margin: 0;
}

/* link ocupa toda a área */
.dropdown-menu li a{
    display: block;
    width: 100%;
    padding: 15px 20px;
    color: #FFF;
    text-decoration: none;
}

/* hover ocupa a largura total */
.dropdown-menu li:hover{
    background-color: #7e93a9;
}

/* remove hover padrão do bootstrap */
.dropdown-item:hover{
    background: transparent;
    color: #FFF;
}

/* linha divisória */
.linha_divisao_sub_menu{
	height: 2px;
	width: 90%;
	background: #FFF;
	margin: 0 auto;
}

/* ABRIR SUBMENU AO PASSAR O MOUSE */
.nav-item.dropdown:hover .dropdown-menu {
    display: block;
}

/* ITENS DO SUBMENU */
.dropdown-item {
    font-weight: 500;
}

/* FAZ OS ITENS DIVIDIREM IGUALMENTE A LARGURA */
.menu-principal .navbar-nav {
    width: 100%;
}

.menu-principal .nav-item {
    flex: 1;
    text-align: center;
}

/* O LINK PREENCHE TODO O LI */
.menu-principal .nav-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
}

/* CORES NO LI (CAIXA INTEIRA) */
.menu-azul {
    background-color: #00264c;
}

.menu-azul-meio {
    background-color: #3a74b0;
}

.menu-azul-claro {
    background-color: #b4d0e7;
}

/* HOVER */
.menu-azul:hover {
    background-color: #7e93a9;
}

.menu-azul-meio:hover {
    background-color: #7e93a9;
}

.menu-azul-claro:hover {
    background-color: #7e93a9;
}

/* TEXTO */
.menu-principal .nav-link {
    color: #fff;
    padding: 18px 0;
}

.menu-azul-meio {
    background-color: #3a74b0;
}

.menu-azul-claro {
    background-color: #b4d0e7;
}

/* ===== CARDS HOME ===== */

/* CARD */
.card-hover {
    border: none;
    border-radius: 14px;
    overflow: hidden;            
    background: transparent;     
    transition: transform .35s ease, box-shadow .35s ease;
    cursor: pointer;
    width: 90%;
    margin: 0 auto;
    background: transparent;
}

/* IMAGEM */
.card-img-custom {
    width: 90%;          /* mantém menor */
    display: block;
    margin: 12px auto;   /* centraliza */
    border-radius: 12px; /* cantos suaves */
}

/* HOVER */
.card-hover:hover {
    transform: scale(1.08);
    box-shadow: 0 20px 40px rgba(0,0,0,0.25);
    z-index: 5;
}

.row.g-4 > [class*="col"] {
    margin-bottom: 30px;
}

.card {
    background-color: transparent !important;
    border: none !important;
    box-shadow: none !important;
}

.col-12 {
    margin-top: 10px;
}

